.navbarWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logoWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.logoImg{
    font-size: 20px;
    font-weight: bold;
}
.buttonSection{
    display: flex;
    gap: 10px;
}
.buttonWrapper{
    display: flex;
    gap: 10px;
}
